body {
	background-size: 300px;
	position: relative;
	min-width: 900px;
	color: #000;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

input {
	display: none;
}
label {
	height: 100px;
	width: 150px;
	border-radius: 6px;
	border: 1px dashed #999;
}

label:hover {
	color: #de0611;
	border: 1px dashed #de0611;
}
